body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    font-size: 30px;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 54px;
}
.logo img {
    height: 54px;
    padding-left:5px;
    margin-right: 10px;
    width: auto;
    vertical-align: middle;
}
#busForm {
    display: flex;
    align-items: center;
    margin-right: 700px;
}

#message {
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 200px;
    box-sizing: border-box;
}

#busForm button {
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    height: 100%;
}

#busForm button:hover {
    background-color: gray;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#busForm input::placeholder {
    color: #aaa;
    font-style: italic;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px;
    justify-content: flex-end;
    height: 32px;
    flex-grow: 1;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: 40px;
}

.nav-links input, .nav-links button {
    height: 34px;
    box-sizing: border-box;
}
#auth-link a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

#auth-link a:hover {
    color: gray;
}
.logoutpopup{
    position: fixed;
    display: none;
    z-index: 1001;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 340px;
    height: 110px;
    border-radius: 10px;
}

.logoutpopup-content{
    position: relative;
}
.logoutclose-btn {
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}
.logoutclose-btn:hover{
    color: gray;
}
.logoutheader{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
    margin-top: 8px;
}
.logoutbutton-container {
    text-align: center;
}
.logoutbutton{
    width:310px;
    height:47px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 15px;
    margin: 8px auto 0 auto;
    font-size: 19px;
}
.logoutbutton:hover{
    cursor: pointer;
    background-color: gray;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chat-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    background-color: #fafafa;
}


.message {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.message.sent {
    align-self: flex-end; 
    background-color: #e1f5fe; 
    text-align: right;
    color: #333; 
}

.message.received {
    align-self: flex-start;
    background-color: #ffffff; 
    text-align: left;
    color: #333; 
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    color: #666; 
}

.message-content {
    margin-top: 4px;
    padding: 8px;
    font-size: 16px;
    color: #444;
    background-color: #f7f7f7; /* 設定內容的背景顏色 */
    border-radius: 4px;
}
.message-timestamp {
    font-size: 12px;
    color: #999;
    align-self: flex-end;
}
.uploaded-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 5px;
    border-radius: 8px;
}
#input-container {
    display: flex;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

#imageInput {
    display: inline-block; 
    margin-left: 10px;
    padding: 5px; 
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    cursor: pointer; 
}

#imageInput:hover {
    border-color: #007bff; 
}